@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-jetbrains), monospace;
    font-size: 11.5px;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
  }
}
